li,a,p,h3{
    font-family: Ubuntu, sans-serif;

}
li:hover{
    color: white;
}
a:link {
    color: white;
  }

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
  color: yellow;
} 