.text-login {
    font-family: Ubuntu, sans-serif;
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
}

label,
p {
    font-family: Ubuntu, sans-serif;
}

.border-style {
    background-color: red;
}

.login-box {
    background-color: white;
    border-radius: 15px;
    width: 390px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 10px 0px 10px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-input {
    font-family: Ubuntu, sans-serif;
}

input[type="text"],
textarea {
    border-width: 0px;
    background-color: #EEEEEE;
    
}

.register-button {
    font-family: Ubuntu, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-width: 0px;
    margin: 0px;
    border-radius: 9px;
    width: 100%;
    letter-spacing: 5px;
    background-color: #E67E22;
    height: 46px;
}

button[type='submit'] {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    border-width: 0px;
    margin: 0px;
    border-radius: 9px;
    width: 100%;
    letter-spacing: 5px;
    background-color: #E67E22;
}

.button-div {
    display: flex;
    gap: 9px;
}

.bg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://www.kmutnb.ac.th/getattachment/life-in-the-university/bangkok/g.jpg.aspx");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    opacity: 0.2;
    
    z-index: -1;
}
input[type='password']{
    background-color: #EEEEEE;
    border-width: 0px;
}
@media screen and (max-width: 600px) {
    .login-box {
        width: 95%;
    }
    body {
        background-color: red;
    }
}